<h1 class="mb-4">Places</h1>

<div class="row">
  <% @places.each do |place| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= place.name %></h5>
          <%= link_to "View Place", place_path(place), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New Place", new_place_path, class: "btn btn-success mt-3" %>